<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ML API</title>
</head>
<body>
    <div class="login">
        <h1>Bank Insurance Prediction</h1>  
        
        <form action="{{ url_for('predict')}}" method="post">
            <input type="text" name="AGE" placeholder="AGE" required="required" /><br>
            <input type="text" name="SMOKER" placeholder="SMOKER (yes/no)" required="required" /><br>
            <input type="text" name="BMI" placeholder="BMI" required="required" /><br>
            <input type="text" name="SEX" placeholder="SEX (male/female)" required="required" /><br>
            <input type="text" name="CHILDREN" placeholder="CHILDREN" required="required" /><br>

            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>
        
        <br>
        <br>
        
    </div>
    {{prediction_text}}  
</body>
</html>
